@keyframes blogTransition {
    0% {
        opacity: 0;
        transform: translateY(-500pt);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

div.blog-container {
    display: flex;
    width: 100%;
    max-width: 80vw;
    margin-inline: auto;
    margin-block: 20pt;
    overflow: hidden;
}

div.blog-container>hr {
    animation-name: animFadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;

    margin-inline: 20pt;
}

article.blog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transform-origin: top;
    animation-name: blogTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

article.blog img {
    width: 100%;
    height: 280pt;
    border-radius: 10px;

    object-fit: cover;
}

article.blog hr {
    width: 100%;
}

.blog-header,
.blog-content {
    margin-inline: 0;
}

.blog-header {
    display: flex;
    flex-direction: column;
    gap: 10pt;
    padding-block: 15pt;

    & h1,
    & h2,
    & h3 {
        margin: 0;
    }
}

.blog-header h1 {
    font-size: 2.0em;
}

.blog-header h3 {
    font-weight: normal;
    font-size: 1.2em;
}

.blog-header-horizontal {
    display: flex;
    gap: 8pt;
}

.blog-header-horizontal time {
    font-size: 14px;
    color: #808080;
}

.blog-content {
    padding-block: 15pt;

    & .box-disclaimer {
        margin-top: 40pt;
    }
}
