@keyframes blogTransition {
    0% {
        opacity: 0;
        transform: translateY(-500pt);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

div.blog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

article.blog {
    max-width: 900pt;

    transform-origin: top;
    animation-name: blogTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

article.blog img {
    width: 100%;
    height: 200pt;

    object-fit: cover;
}

article.blog hr {
    width: 100%;
}

.blog-header,
.blog-content {
    margin-inline: 20pt;
}

.blog-header {
    display: flex;
    flex-direction: column;
    gap: 10pt;
    padding-block: 15pt;

    & h1,
    & h2,
    & h3 {
        margin: 0;
    }
}

.blog-header-horizontal {
    display: flex;
    gap: 10pt;
}

.blog-content {
    padding-block: 15pt;

    & .box-disclaimer {
        margin-top: 40pt;
    }
}
