.product-miniature {
    position: relative;
    display: flex;
    width: 180pt;
    height: fit-content;
    min-height: 290pt;

    background-color: var(--background-alt);
    border: 1px solid var(--border-neutral);

    padding: 10pt;
    padding-bottom: 2lh;

    border-radius: 15px;

    justify-content: center;
    align-content: center;
}

.product-miniature:not(.no-stock) {
    transition: transform 200ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }
}

.product-miniature .spinner-container {
    margin: auto;
}

.product-miniature .content {
    display: flex;
    flex-direction: column;

    animation: animFadeIn;
    animation-duration: 1s;
}

.product-miniature img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10pt;
}

.product-miniature h1 {
    font-size: 1.22em;
    margin: 0;
}

.product-miniature p {
    margin: 0;
    color: #808080;
    font-size: 1.05em;
    font-weight: 500;
}

.product-miniature p.price {
    position: absolute;
    bottom: 5pt;
    left: 8pt;
}

.product-miniature .tag {
    position: absolute;
    top: 15pt;
    left: 15pt;
}

.product-miniature button.cart-btn {
    position: absolute;
    bottom: 5pt;
    right: 5pt;
}

.product-miniature.no-stock .content::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--background), transparent 50%);
    border-radius: 15px;
    pointer-events: none;
}

.product-miniature.no-stock p.price {
    color: transparent;

    &::after {
        position: absolute;
        inset: 0;
        white-space: nowrap;
        content: 'FUERA DE STOCK';
        color: var(--accent-3);
    }
}

.product-miniature.critical-stock p.price::after {
    content: 'QUEDAN POCOS!';
    margin-inline: 5pt;
    color: var(--accent-3);
    font-size: 0.7em;
}
